
.banner-container{
    
    position: relative;
    z-index:0;
    max-width: 100vw;
    height: 85vh;
    img{
        opacity: 0.75;
        width: 100%;
        height: 100%;
        object-fit: cover bottom;
    }
    .banner-brief{
        position: absolute;
        top: 15%;
        left: 10%;
        max-width: 35vw;

        color: var(--sub-color);
        h1{
            margin: 0;
        }

        img{
            width: 100%;
            max-height: 200px;
            object-fit: cover;
        }
    }
}

.banner-icon-container{
    display: flex;
}

.banner-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 500;
    background-color: var(--sub-color);
    color: var(--main-color);

    padding:5px;
    margin: 0 5px 0 10px;
    border-radius: 5px;

    .banner-icon-feature{
        font-size: 2rem;
        margin-right: 5px;
    }

    &:hover{
        color: var(--sub-color);
        background-color: rgba(211, 211, 211, 0.3);
    }
}

.banner-type{
    font-size: 3rem;
    margin-bottom: 30px;
    display: flex;
    span{
        margin-right: 10px;
    }
    select{
        font-size: 2rem;
        outline: none;
        background-color: var(--main-color);
        color: var(--sub-color);
        padding: 3px;
        option{
            color: var(--sub-color);
            background-color: rgba(11, 11, 11, 0.7);;
        }
    }
}

@media only screen and (max-width: 739px) {
    .banner-container{
        height: 40vh;
    }

    .banner-brief{
        top: 20% !important;
        max-width: 70vw !important;
    }

    .banner-movie-des{
        display: none;
    }

    .banner-movie-title{
        display: none;
        
    }

    .banner-icon-container{
        margin-top: 10px;
        justify-content: center;
    }

    .banner-title{
        max-height: 120px !important;
    }

    .banner-type{
        margin-bottom: 40px;
        span{
            font-size: 2.5rem;
        }
    }
}

@media (max-width: 1000px) and (orientation: landscape) {
    .banner-container{
        height: 70vh !important;
    }

    .banner-brief{
        top: 20% !important;
        max-width: 60vw !important;
        img{

            max-height: 130px !important;
            object-fit: fill !important;
        }
    }

    .banner-movie-des{
        display: none;
    }

    .banner-movie-title{
        display: none;
    }

    .banner-icon-container{
        margin-top: 0px;
        justify-content: center;

        span{
            font-size: 2rem;
        }
    }

    .banner-type{
        margin-bottom: 0px;
        span{
            font-size: 2.5rem;
        }
    }
}

@media only screen and (min-width: 740px) and (max-width: 1024px) and (orientation: portrait){

    .banner-container{
        height: 50vh;
    }

    .banner-movie-title{
        font-size: 4rem;
        margin: 0;
    }
    
    .banner-movie-des{
        margin: 0;
        margin-bottom: 10px;
    }

    .banner-brief{
        top: 15% !important;
        max-width: 70vw !important;
    }

    .banner-title{
        max-height: 170px !important;
    }

}

@media only screen and (min-width: 740px) and (max-width: 1024px) and (orientation: landscape){
    .banner-container{
        height: 70vh;
    }

    .banner-movie-title{
        font-size: 4rem;
        margin: 0;
    }
    
    .banner-movie-des{
        margin: 0;
        margin-bottom: 10px;
    }

    .banner-brief{
        top: 20% !important;
        max-width: 70vw !important;
    }

    .banner-title{
        max-height: 170px !important;
        object-fit: contain !important;
    }

}