@import 'register';

.login-container{
    @include background-theme;
    .login-navbar{
        @include navbar;
    }
}

.login-form{
    width: 350px;
    color: white;
    margin: 80px auto 0 auto;
    background-color: var(--main-color);
    padding: 30px;
    
    h1{
        margin: 0 0 10px 0;

    }
    p{
        margin: 0;
    }
    a{
        text-decoration: none;
        font-weight: 700;
        
    }

    form{
        display: flex;
        flex-direction: column;
        height: 170px;
        justify-content: space-between;
        input{
            height: 40px;
            font-size: 2rem;
            border-radius: 5px;
            outline: none;
            background-color: rgba(211, 211, 211, 0.7);
            color: white;
            &::placeholder{
                color: var(--sub-color);
            }

            &:last-child{
                background-color: red;
                cursor: pointer;
            }
        }
        
    }
}