.slider-container{
    padding: 0 45px ;
    color: var(--sub-color);
}


.slick-list{
    overflow: visible !important;
}


.slick-custom-arrow{
    color: red !important;
    background-color: rgba(11, 11, 11, 0.3) !important;
    height: 100% !important;
    font-size: 4rem !important;
    z-index: 2;
}

.slick-disabled{
    visibility: hidden;
}

