.nav-container{
    background-image: linear-gradient(0deg, rgba(11, 11, 11, 0.0), rgba(11, 11, 11, 0.9));
    z-index: 2;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 700;
    color: white;
    padding: 5px;
    max-height: 50px;

    .nav-logo{
        width: 135px;
        height: 35px;
        min-width: 100px;
        margin-left: 25px;
        cursor: pointer;
        img{
        width: 100%;
        height: 100%;
        object-fit:cover;
    }
    }
}

.nav-router{
    display: flex;
    margin-left: 10px;
    margin-right: auto;
    
    a{
        margin-left: 25px;
        color: white;
        text-decoration: none;
    }
}

.nav-feature{
    display: flex;
    align-items: center;
    
    span{
        margin-left: 15px;
    }

    .icon{
        font-size: 2.5rem;   
        margin-left: 15px;
        cursor: pointer;
    }

    .nav-search{
        display: flex;
        align-items: center;
        margin: 0;
        
        input{
            height: 25px;
            display: none;
            border-radius: 2px;
        }

        &:hover input{
            animation-fill-mode: forwards;
            animation-name: move;
            animation-duration: 0.5s;
            display: block;
        }
        @keyframes move {
            0%{
                width: 0px;
            }
            100%{
                width: 150px;
            }
        }

        
    }



    .nav-profile{
        display: flex;
        align-items: center;
        margin: 0 25px 0 15px ;
        
        img{
            width: 45px;
            height: 45px;
            border-radius: 50%;
            object-fit: cover;
        }
        .nav-setting{
            display: flex;
            flex-direction: column;
            position: relative;
            ul{
            
            list-style: none;
            padding:0;
            position: absolute;
            top:30px;
            border-radius: 5px;
            opacity: 0.7;
            transform: translateX(-50%);
            left: 75%;
            li{
                cursor: pointer;
                padding: 5px;
                background-color: var(--main-color);
            }
            li:hover{
                background-color: rgba(255, 255, 255, 0.5);
                color: var(--main-color);
            }
            }
        }
    }
}

.nav-container-scroll{
    background-image: linear-gradient(0deg, rgba(11, 11, 11, 0.3), rgba(11, 11, 11, 0.9));
}